# ======================
# Node modules
# ======================
node_modules/
ai-service/node_modules/

# ======================
# Logs
# ======================
npm-debug.log*
yarn-error.log*

# ======================
# Environment variables
# ======================
.env

# ======================
# OCR data 
# ======================
*.traineddata

# ======================
# IDE / Editor
# ======================
.vscode/

# ======================
# OS files
# ======================
.DS_Store

# ======================
# Build folders
# ======================
dist/
build/

# ======================
# Postman (local only)
# ======================
.postman/